:host {
  display: contents;
}

.slider {
  width: 100%;
  appearance: none;
  height: 10px;
  border-radius: 999px;
  /* variable con valor inicial */
  --p: 0%;
  /* barra con relleno dinámico */
  background: linear-gradient(
    to right,
    #58e6d7 0,
    #58e6d7 var(--p),
    #1a1f22 var(--p),
    #1a1f22 100%
  );
  border: 1px solid rgba(255, 255, 255, 0.08);
  outline: none;
  position: relative;
}

.slider::-webkit-slider-thumb {
  appearance: none;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  background: linear-gradient(180deg, #58e6d7, #36b9ad);
  border: 0;
  box-shadow: 0 6px 16px rgba(63, 209, 194, 0.45);
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 22px;
  height: 22px;
  border-radius: 50%;
  background: linear-gradient(180deg, #58e6d7, #36b9ad);
  border: 0;
  box-shadow: 0 6px 16px rgba(63, 209, 194, 0.45);
  cursor: pointer;
}

